@font-face {
  font-family: "Pencil";
  src: url("./assets/pencil.ttf");
}

@font-face {
  font-family: "Monocraft";
  src: url("https://github.com/IdreesInc/Monocraft/releases/download/v3.0/Monocraft.ttf");
}

@font-face {
  font-family: "Veteran";
  src: url("./assets/veteran.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden !important;
  cursor: default;
  pointer-events: none !important;
  user-select: none !important;
}

body {
  background: #000;
  color: #f1f1f1;
}
  
.center {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post .center {
  height: inherit;
  width: auto;
}

.post {
  padding: 3vh;
}

.post > * {
  margin: 2.5vh 0;
}

.post h1, .post .sub {
  text-align: center;
}

.post .sub {
  font-size: 1.65em;
}

.post p.body {
  text-align: justify;
  font-size: 1.3em;
}

p, h1 {
  font-size: 2em;

  /* Fallback Font */
  font-family: "Arial", sans-serif;
}

.a {
  font-family: 'Courier New', Courier, monospace;
}

.s {
  font-family: "Pencil", system-ui, -apple-system, sans-serif
}

.w {
  font-family: "Veteran", 'Courier New', Courier, monospace;
}

.minecraft {
  font-family: "Monocraft", monospace;
}

.omo {
  font-family: "Omori", "Courier New", Courier, serif;
}

img[data-long] {
  width: 80vw;
}

img[data-high] {
  height: 80vh;
}
  